<ul>
  <li *ngFor="let messages of messagesList">
    <b>{{messages.author}}</b> {{messages.content}}
  </li>
</ul>

<div class="row">
  <form class="col s12" #form="ngForm" (submit)="send()">
    <div class="row">
      <div class="input-field col s6">
        <input id="message" type="text" class="validate" [(ngModel)]="chat.content" name="content"
               #content="ngModel" required>
        <label for="message">Сообщение</label>
        <button [disabled]="!form.valid" type="submit" class="btn-floating btn-large red">
          <i class="large material-icons">mode_edit</i>
        </button>
      </div>
    </div>
  </form>
</div>
