<div class="row">
    <div class="login-register-form">
        <h1>Вход</h1>
        <form>
            <label for="email">
                <p class="label-hidden">Эл. почта</p>
                <input id="email" type="text" name="email" placeholder="Эл. почта">
            </label>
            <label for="password">
                <p class="label-hidden">Пароль</p>
                <input id="password" type="password" name="password" placeholder="Пароль">
            </label>
            <button class="btn btn-success">Войти</button>
            <div class="or">или</div>
            <a href="#" class="btn vk"><i class="fa fa-vk"> Вконтакте</i></a>
            <a href="#" class="btn fb"><i class="fa fa-facebook"> Facebook</i></a>
        </form>
        <small>У меня нет аккаунта
            <a href="#">
                Зарегистрироваться
            </a>
        </small>
    </div>
</div>